@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto.woff) format("woff");
}

* {
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

::-moz-selection {
  background: #fcfcfc;
  background: hsla(0, 0%, 100%, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: hsla(0, 0%, 100%, 0.2);
  text-shadow: none;
}

.no-webp .background {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%);
  background: -webkit-linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%);
  background: linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%), url("images/city.jpeg") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.webp .background {
  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%);
  background: -webkit-linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%);
  background: linear-gradient(rgb(26 39 83 / 60%) 100%, rgb(26 39 83 / 60%) 100%), url("images/city.webp") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  text-align: center;
  color: white;
}

#main h1 {
  font-size: 3.5em;
}

#main h1 {
  padding: 0;
  margin: 0px 0px 30px 0px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
}

#main ul {
  padding: 0;
}

#main ul li {
  display: inline-block;
  list-style-type: none;
}

#main ul li a {
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

#main ul li a i {
  padding: 10px 16px 10px 16px;
  border-radius: 6px;
  font-size: 2.1em;
  color: #fff;
  transition: 0.3s;
}

#main ul li a i:hover {
  background-color: #ffffff29;
}

#main ul li a i:active {
  background-color: #ffffff4f;
}

#main button i {
  margin-right: 12px;
}

.button {
  background-color: #004dcf6b;
  border: 2px solid #b0cdff61;
  border-radius: 2.45rem;
  color: white;
  margin-top: 16px;
  padding: 12px 38px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #004dcfa6;
}

.button:active {
  transform: scale(0.98);
}
